.welcome {
    width: 100%;
    height: 100vh;
}

.title {
    font-size: 72px;
    background: -webkit-linear-gradient(#0dcaf0, #ffc107);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}